<!doctype html>
<html>
  <head>
    <title>Test Extraton</title>
    <meta charset="utf-8">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="extraton.js"></script>
    <script src="test.js" defer></script>
  </head>
  <body>
    <div id="app">
      <b-container class="p-5">
        <b-form-group label="Amount">
          <b-form-input v-model="amount"></b-form-input>
        </b-form-group>
        <b-form-group label="Destination">
          <b-form-input v-model="destination"></b-form-input>
        </b-form-group>
        <div>
          <b-button @click="transfer()" v-if="status=='initial'">
            Transfer
          </b-button>
          <b-button disabled v-else-if="status=='processing'">
            <b-spinner></b-spinner>
          </b-button>
          <b-button v-else-if="status=='passed'" @click="status='initial'" variant="success">
            Passed
          </b-button>
        </div>
        <div>{{ msg }}</div>
      </b-container>
    </div>
  </body>
</html>
